{overlay,[{mkdir,"releases/0.1.0"},
          {copy,"./sys.config","releases/0.1.0/sys.config"},
          {copy,"./boot_shim","bin/sequence"},
          {copy,"./boot_shim.bat","bin/sequence.bat"},
          {copy,"./boot","releases/0.1.0/sequence.sh"},
          {copy,"./boot.bat","releases/0.1.0/sequence.bat"},
          {copy,"/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/rel/.files/vm.args",
                "releases/0.1.0/vm.args"},
          {copy,"/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/_build/dev/consolidated/.compile.protocols",
                "lib/sequence-0.1.0/consolidated/.compile.protocols"},
          {copy,"/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/_build/dev/consolidated/Elixir.Collectable.beam",
                "lib/sequence-0.1.0/consolidated/Elixir.Collectable.beam"},
          {copy,"/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/_build/dev/consolidated/Elixir.Enumerable.beam",
                "lib/sequence-0.1.0/consolidated/Elixir.Enumerable.beam"},
          {copy,"/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/_build/dev/consolidated/Elixir.IEx.Info.beam",
                "lib/sequence-0.1.0/consolidated/Elixir.IEx.Info.beam"},
          {copy,"/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/_build/dev/consolidated/Elixir.Inspect.beam",
                "lib/sequence-0.1.0/consolidated/Elixir.Inspect.beam"},
          {copy,"/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/_build/dev/consolidated/Elixir.List.Chars.beam",
                "lib/sequence-0.1.0/consolidated/Elixir.List.Chars.beam"},
          {copy,"/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/_build/dev/consolidated/Elixir.String.Chars.beam",
                "lib/sequence-0.1.0/consolidated/Elixir.String.Chars.beam"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{sequence,"0.1.0"},[{sequence,"0.1.0"},elixir,iex,sasl]}.

{lib_dirs,["/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/_build/dev/lib",
           "/Users/succi0303/Documents/programming_elixir_1.3/otp-app/sequence/deps",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/eex/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/elixir/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/ex_unit/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/iex/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/logger/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/mix/ebin"]}.

